//Coloque aqui as configurações para seu SCSS
$app-background: #EEE;
$primary-color: #009688;
$dark-primary-color: #00796B;
$light-primary-color: #B2DFDB;
$text-primary-color: #FFFFFF;
$accent-color: #E040FB;
$divider-color: #BDBDBD;
$text-dark-color: #212121;
$font-size-default: 18px;